<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<div class="view">
    <div class="overlay"></div>
    <img class="img-intro" src="/images/fondos.jpg" alt="">
    <div class="ramona">
        <img  class="ramona-img" src="/images/Ramona.png" alt="">
    </div>
    <div class="content">

        <h1 class="title">PATITAS ON BOARD</h1>
        <div class="animated-text"> 
            <h2 > Uniendo
                <span></span>
            </h2>
        </div>
    <div class="logo"> 
        <img class="logo-img"  src="/images/logo.png" alt="">
    </div>
    </div>
</div>