<footer class="bg-purple text-center text-white">
    <div class="container p-4">
      <section id="Contact" class="mb-4">
            <h3>Contactanos <i class="bi bi-chat-heart icon"></i></h3>
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://wa.link/aff5y2" role="button"
          ><i class="bi bi-whatsapp"></i></a>
  
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/PatitasOnBoard" role="button"
          ><i class="bi bi-facebook"></i></a>
  
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/patitasonboard/?hl=es" role="button"
          ><i class="bi bi-instagram"></i></a>

          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.tiktok.com/@patitasonboard" role="button"
          ><i class="bi bi-tiktok"></i></a>
      </section>
      <section class="mb-4">
        <p>Nuestro propósito es que todos los peluditos en el mundo puedan viajar y reunirse con sus familias sin importar la distancia; siempre brindando el mayor cuidad, confiabilidad y brevedad posible.
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      PATITAS ON BOARD
      <div class="logo"> 
        <img class="logo-img"  src="/images/logo.png" alt="">
    </div>
    </div>
  </footer>