<section id="requisitos" style="margin-top: 2%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Requisitos para viajar con mi mascota <i class="bi bi-airplane-engines"></i></h1>
                <p class="text-center text-gray py-5">
                    Los requisitos para viajar con nuestro peludo varían de un país a otro, aquí procuraremos darte la
                    información de la mayoría de rutas con sus respectivas legislaciones, pero sí llegas a presentar
                    dudas no dudes en escribirnos y con gusto resolveremos tus inquietudes.
                </p>
                <h3 class="text-center subtitle "> Rutas para viajar con tu peludito</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="accordion " id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button custom-accordion-header collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                Cualquier pais de latinoamerica
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <li>Microchip de identificación (algunos destinos)</li>
                                <li>Desparasitación</li>
                                <li>Certificado de Vacunas</li>
                                <li>Certificado de Salud</li>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button custom-accordion-header collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Viajar a Panama con tu peludito:
                                <img class="img" src="/images/panama.png" alt="">
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <li>Microchip de identificación</li>
                                <li>Desparasitación</li>
                                <li>Certificado de Vacunas</li>
                                <li>Certificado de Salud</li>
                                <li>Certificado Sanitario de Exportación debe estar apostillado</li>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button custom-accordion-header collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Viajar a Canadá con tu peludito:
                                <img class="img" src="/images/canada.png" alt="">
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <li>Microchip de identificación</li>
                                <li>Desparasitación</li>
                                <li>Certificado de Vacunas</li>
                                <li>Certificado de Salud</li>
                                <li>Certificado Sanitario de Exportación</li>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button custom-accordion-header collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                Viajar a EEUU con tu peludito:
                                <img class="img" src="/images/eeuu.png" alt="">
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <li>Microchip de identificación</li>
                                <li>Desparasitación</li>
                                <li>Certificado de Vacunas</li>
                                <li>Certificado de Salud</li>
                                <li>Prueba serológica (Aplica en algunos países)</li>
                                <li>Solicita un permiso de importación de perros de los CDC ANTES de viajar. (No aplica
                                    para gatos y algunos países)</li>
                                <li>Bróker para la liberación en destino (algunos destinos)</li>    
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button custom-accordion-header collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                Viajar con tu peludito a cualquier pais de la Union europea:
                                <img class="img" src="/images/ue.png" alt="">
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <li>Prueba serológica (Aplica para algunos países)</li>
                                <li>Microchip de identificación</li>
                                <li>Desparasitación</li>
                                <li>Certificado de Vacunas</li>
                                <li>Certificado de Salud</li>
                                <li>Certificado Sanitario de Exportación</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>