.title{
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}
.custom-accordion-header {
    background-color: white; 
    color: black; 
}
.custom-accordion-header.collapsed {
    background-color: white; 
    color: black; 
}
.custom-accordion-header:not(.collapsed) {
    background-color: #C65BCF; 
    color: white; 
    border: #874CCC;
}
.custom-accordion-header:focus {
    outline: none; 
    box-shadow: 0 0 30px #874CCC; 
}
.subtitle{
    margin-bottom: 2%;
}
.img{
    width: 5%;
    margin-left: 2%;
}
