<section id="experiencias">
    <div class="container">
        <h1 class="text-center py-5">Experiencias de amor 🤍</h1>
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleInterval" class="carousel slide experiencias border-purple" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/images/dante.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption ">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Dante</h5>
                                <div class="additional-caption" style="font-size: 1vw;">
                                    Viaje de Bogota a Madrid, de la manera mas comoda posible
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/images/Simona.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Simona</h5>
                                    <div class="additional-caption" style="font-size: 1vw;">
                                        Viaje de Bogota a New York, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/sirius.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Sirius</h5>
                                    <div class="additional-caption" style="font-size: 1vw;">
                                        Viaje de Bogota a New York, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/romi.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Romi</h5>
                                    <div class="additional-caption" style="font-size: 1vw;">
                                        Viaje de Bogota a New York, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>