<section id="experiencias">
    <div class="container">
        <h1 class="text-center py-5 title"><strong> Experiencias de amor  <img  class="img-logo" src="/images/patitas.png" alt=""> </strong></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleInterval" class="carousel slide experiencias border-purple"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="/images/piero.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Piero</h5>
                                    <div class="additional-caption">
                                        Viaje de Bogota a New York con mi familia y en ningun momento estuve solo </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/images/mabel.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Mabel</h5>
                                    <div class="additional-caption">
                                        Viaje de Bogota a Puerto Rico con mi mamita durante todo el vuelo</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/images/dante.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption ">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Dante</h5>
                                    <div class="additional-caption">
                                        Viaje de Bogota a Madrid, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/images/Simona.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Simona</h5>
                                    <div class="additional-caption">
                                        Viaje de Bogota a New York, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/sirius.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Sirius</h5>
                                    <div class="additional-caption">
                                        Viaje de Bogota a New York, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/romi.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Romi</h5>
                                    <div class="additional-caption">
                                        Viaje de Bogota a New York, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/ofelia.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Ofelia</h5>
                                    <div class="additional-caption">
                                        Viaje de Estados unidos a Colombia, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/chimuelo.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Chimuelo</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Portugal, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/yuno.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Yuno</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Portugal, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/cher.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Cher</h5>
                                    <div class="additional-caption">
                                        Viaje de Madrid a Colombia, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/showy.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Showy</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Canada, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/horus.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Horus</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Europa, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/sindy.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Sindy</h5>
                                    <div class="additional-caption">
                                        Viaje de Mexico a Estados Unidos, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/cho.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Cho</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Estados Unidos, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/alaska.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Alaska</h5>
                                    <div class="additional-caption">
                                        Viaje de Canada a Colombia, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/tau.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Tau</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Italia, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/django.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Django</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Estados Unidos, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/cassieth.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Cassieth</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Madrid, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/milin.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Milin</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Houston, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/kyra.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Kyra</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Houston, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/zeus.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <div class="overlay">
                                    <h5 style="padding: 1%;">Zeus</h5>
                                    <div class="additional-caption">
                                        Viaje de Colombia a Estados Unidos, de la manera mas comoda posible
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="reseñas">
    <div class="title-container">
        <h1 class="text-center my-5 title"> <strong> Reseñas <i class="bi bi-person-hearts"></i> </strong></h1>
    </div>
    <div class="review-container">
        <div id="carouselExampleAutoplaying" class="carousel slide carousel-review carousel-dark"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-6/337290657_161349913104072_8140153969863802233_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHAglZJRal0cvs-4ZgTH5d5l81_2eIuN8iXzX_Z4i43yCQzqmRyZu8ZEd55Ozyo9Byb3M8TJrMx8_XHfIDvWF68&_nc_ohc=-WAbRnUVX5wQ7kNvgH_k8vB&_nc_ht=scontent.fbog2-5.fna&oh=00_AYCxkV3z_0aZcFh_H1Ds64WvWiBdPBT1SghfyNCcYuGYKw&oe=6677E759"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Ginna Diaz Amariiles </Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Estoy sumamente agradecida con Patitas On Board, gracias a ustedes
                                    tengo hoy a mi lado a mi linda Mabel y a mi hija quién viajó sola desde Puerto Rico
                                    a
                                    buscar a su perrita, que se encontraba en Bogotá, la atención y el calor humano de
                                    PATITAS, es espectacular.
                                    Desde el día uno organizaron la visita de Mabel a la veterinaria para chequear que
                                    todo
                                    lo correspondiente a sus vacunas y demás requisitos para viajar estuviera al día,
                                    fueron
                                    personalmente con mi Nena y con Mabel a realizar las gestiones de el ICA en el
                                    aeropuerto y no las dejaron solas ni un solo momento y estuvieron disponibles
                                    incluso
                                    para transportar a Mabel y a mi Nena al aeropuerto el día de su viaje.
                                    Todo el tiempo ofrecieron soluciones y estuvieron preparados haciendo las llamadas
                                    necesarias para que mi Nena y Mabel no pasarán ninguna dificultad durante sus vuelos
                                    de
                                    Bogotá a Panamá y de ahí a Puerto Rico.
                                    Excelente equipo, realizan una labor impecable y con mucho amor.
                                    GRACIAS🤗</p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-1/329989322_1251839075742207_2093940090652028545_n.jpg?stp=dst-jpg_p200x200&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHRIrzYslxe0SSO4dBoKq097JdlBP1ZthHsl2UE_Vm2EW7SQLUexW3AXr2q2XFBoXlEGk_I4su-MhSltSwOPNGh&_nc_ohc=Arv9PTHeYTIQ7kNvgGJCOZT&_nc_ht=scontent.fbog2-4.fna&oh=00_AYBmxJaJVfW1qCts5NEqmsibRwGdkmUD70muKyv2Yd7vyw&oe=66780878"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Maria José </Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Quiero agradecerle a Patitas por el servicio que me dieron con mis
                                    perritas, no fue fácil pero ellos lo hicieron posible.
                                    Mayely se comportó muy muy bien conmigo, me tuvo mucha paciencia, le dio mucho amor
                                    a mis bebés, adjunto fotos de todo.
                                    El viaje fue desde San Cristóbal Venezuela a Montreal Canadá.
                                    Los recomiendo a otros cerrados.
                                    Mis niñas no pudieron viajar en mejores manos.
                                    Fueron unas semanas de mucha incertidumbre para ella y para mi por culpa de la
                                    aerolínea pero todo fue un éxito gracias a Dios y a patitas, mayely por continuar el
                                    legado de Jhon, lo estas haciendo de maravilla</p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-6/394615716_10161642551249528_4733271193658631225_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE55HfZcGBlznogeUTCUNhhzcsOBNMRTOjNyw4E0xFM6HQ_ODhEZqgoSrzVQs_H6EhmHu814g2_FIvcn0WJhrHX&_nc_ohc=wv2u8z4Sh1cQ7kNvgHnHF5b&_nc_ht=scontent.fbog2-4.fna&oh=00_AYAt1q8k5E2MYQqs_NYmIOY0ymD5x0fEp8Vgfj4IAJR_jw&oe=66780F60"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Maria Gutierrez </Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Mi perro y yo estuvimos separamos por casi 4 meses y gracias a
                                    Patitas On Board pudimos reencontramos. La verdad nos fue muy bien, mi perro Django
                                    tuvo que viajar de Bogota, Colombia a Ciudad de México de allí a Houston, luego de
                                    Houston llego a Miami, fue un viaje muy largo, lo único fue que me dijeron que
                                    demoraba 3 días pero demoraron uno o dos días mas no recuerdo, por las paradas que
                                    debían hacer para que los perros se estiraran, tomaran agua, comieran e hicieran sus
                                    necesidades, igualmente me enviaban videos y fotos de cómo estaba y mantenían en
                                    contacto conmigo. Los recomendamos 100% sus mascotas quedan en buenas manos!!
                                    Ahora Django es muy feliz con sus hermanos, familia y nueva vida🤎</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Fiorella Romero </Strong></h3>
                                <h5 class="text-center"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Gracias a Patitas hace 3 meses el bebé crash pudo estar con
                                    nosotros su familia, que lo extrañábamos demasiado, estuvimos 9 meses sin verlo,
                                    ahora mismo está feliz en casa dándonos mucho amor y nosotros a él que es el
                                    engreido💖
                                    Agradecer también por la paciencia que me tuvieron🤭 una mamá perruna muy preocupada
                                    soy y quería saber todo el proceso de mi hijito🐶</p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-1/447974590_7600553883391457_9063617606496590314_n.jpg?stp=dst-jpg_p200x200&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF4dOFdNHfuUy2LVJo8N6GglE-nLK54jOqUT6csrniM6ssoCeBThv4VEnDyv7Wz1zaN8MiWftZS-i8CVR4qvLnR&_nc_ohc=7jtZTBED9h0Q7kNvgGnQBxG&_nc_ht=scontent.fbog2-5.fna&oh=00_AYCWAw4e3CcZa95hyxHqmav6UXwosIR5pM-o4DjtWevmhg&oe=66780577"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Engie Torres</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Gran Servicio, quedamos muy Felices muchas gracias Paula que me
                                    atendiste súper bien desde el principio y lo mejor es que se encargan de
                                    absolutamente todo. Muy satisfechos con todo mi perrita Kyra que hace 1 año no la
                                    tenia y llegó muy bien. Super recomendados 😁😁😁 ❤️ PATITAS ON BOARD ❤️ lo mejor 🐩
                                </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-1/214634194_10159466159129642_3280046429557655100_n.jpg?stp=dst-jpg_p200x200&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFGSy8qBSJ_w8R07K-aKk-kLRsgDyYfvtUtGyAPJh--1QcY35TV4kNWpaMZREJ2VUSZ3A1TLuUh17AhxWQ99i7R&_nc_ohc=tadxupys2pAQ7kNvgEXycXw&_nc_ht=scontent.fbog2-5.fna&oh=00_AYDFb77q6Vmrf-0J0pQBhqoWKn7OAQCPkbJGQauiBk9utQ&oe=667807CA"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Carolina Lopez </Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">La verdad un excelente servicio, trajimos a nuestra perrita Milin
                                    desde Bogota a Huston, ella es epiléptica y nos tenia con mucho miedo todo el viaje,
                                    pero todas las personas de la agencia estuvieron muy pendientes de ella, sus
                                    cuidados y sus medicamentos. Mayeri es un sol de persona, se les nota el amor por
                                    los perritos y eso lo llena a uno de tranquilidad. Milin llegó muy bien, nos
                                    enviaron videitos diarios y estuvieron siempre dispuestos a contestarnos y darnos
                                    información. SÚPER RECOMENDADOS!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t1.6435-1/123026504_10158694659168389_2849723740302525865_n.jpg?stp=dst-jpg_p200x200&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFe3rBKIjpXPcbIKa0zjq53RoX6Xnjs2VlGhfpeeOzZWWJWVwvfSmpQ5gyLeyIPn9RPnd4X6UY3_wW01224ZIlF&_nc_ohc=VedVkEvLMOwQ7kNvgELeifI&_nc_ht=scontent.fbog2-4.fna&oh=00_AYDkE5EC3pPNME1Ycbm5w5TMleWYEETep_UJZoGFhldkjw&oe=66998D67"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Liz Valentina Muñoz</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Hace 1 año contacté Patitas On Board para trasladar a mi perro
                                    (labrador Mix con golden retriever) desde Colombia hacia EEUU. La verdad tenía miedo
                                    porque él tiene un problema de artritis en su espalda y en realidad gran parte de su
                                    traslado fue en cabina, siempre estuvieron informándome de noticias sobre mi perro y
                                    a la hora de la entrega todo salió muy bien. Recomiendo al 100% esta empresa para el
                                    traslado de sus peluditos, lo hacen con mucho amor.</p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-3.fna.fbcdn.net/v/t39.30808-1/241412747_1313210729113420_5802267517339932027_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFXAiurGDaJ52khY8IEV-N3tstd_lHc-NK2y13-Udz40q12qWKk2wKSdpMCUBDC2HgtOuPeKIzReHleAHJnSZsJ&_nc_ohc=g5603Wu82tsQ7kNvgF-FlMn&_nc_ht=scontent.fbog2-3.fna&oh=00_AYCQYSVSWREsU9GgMn3YvFbaqVdIsnQ1soHv-OhFX5FX2w&oe=6678078C"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Zapatos Isavi</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Hace dos semanas mande mis dos perritas de Estados Unidos a
                                    Colombia, estaba súper desesperada por que las aerolíneas no querían llevar a mi
                                    perrito bóxer mix, me contacte con esta agencia e hicieron todo el proceso, no tuve
                                    que preocuparme por nada.
                                    La única crítica constructiva sería que manden más fotos de los perritos ya que uno
                                    como dueño quiere saber cómo están.
                                    De resto todo bien, mis perritas se demoraron una semana en llegar a casa y el trato
                                    que se ve que tuvieron fue bueno.</p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-1/332307365_2358115354362749_6731623187244257265_n.jpg?stp=dst-jpg_p200x200&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFuc5ykjjWXO3OPpTzeK5AqjZt0VjEgjTyNm3RWMSCNPKYg0vRSzkdfeReEPKq5sZuh07JND6IXnKnTD_7Mvfib&_nc_ohc=FTOY7kmGTF0Q7kNvgGhtGHL&_nc_ht=scontent.fbog2-5.fna&oh=00_AYAdNXKkW_BO9-we6DjdV4Y9NDeb1ZhsDVKD6TpV08xlNA&oe=66782464"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Karen Padilla</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente Servicio, quedamos muy contentos, gracias a jhon que me
                                    atendió súper bien desde el primer momento y lo mejor es que se encargan de
                                    absolutamente todos los documentos. Aquí 🇨🇦 solo tuvimos que recibir a nuestra
                                    mascota. Mil gracias súper recomendados!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-1/347396054_3619145225033929_7963650813333733293_n.jpg?stp=dst-jpg_p200x200&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG21bf2hU2yD1Is4ViTRvj0EY2cR8MgNwYRjZxHwyA3Br2uFAiuY_M8GbDPeb3lvjwpCSfjns3ehrdve3v77W3W&_nc_ohc=O49hYJD9TqIQ7kNvgGrPMRu&_nc_ht=scontent.fbog2-5.fna&oh=00_AYBAEDGvAda-comQXXiyskQnjL_mJVQ28Kmc-NSd9IhcyA&oe=66796FA2"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Juan David Sanabria Valencia</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">100% recomendados, todo perfecto, rápido y siempre pendientes en
                                    todo momento del proceso </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-1/374492444_10225270988185141_2569634577260060583_n.jpg?stp=dst-jpg_s200x200&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHlenhg7MUFjMeF_1fU8A-hXano3jPU8IBdqejeM9TwgJwOA4qSPC9iehQ1zLUR3T2OHTwOgqRIf6a7WjCd4PF2&_nc_ohc=zSqg8P_r3D8Q7kNvgEplcTk&_nc_ht=scontent.fbog2-4.fna&oh=00_AYCPtpR4HGQcUZYvtxxN5puBTXya_rz2Yt8PUGKeqPX0MQ&oe=66793E35"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Paola Ximena Valencia Medina</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Recomiendo 100% esta empresa, mi perro no pudo haber quedado en
                                    mejores manos, John es excelente, cuenta con el conocimiento, la amabilidad, esta
                                    siempre dispuesto 24/7, ágil y sin ningún error y todo a tiempo.
                                    Son los mejores!!
                                </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-1/437176451_7853425224667678_8672510304905272393_n.jpg?stp=dst-jpg_p200x200&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHU3R99IlllWPdCNQQugcY-s6KbBKqnKdizopsEqqcp2Cn0MiSGEh12dNEICP896arIh4L2TCtTFLmmcZ-jmfO1&_nc_ohc=EpE0AezC2t8Q7kNvgGF19BP&_nc_ht=scontent.fbog2-5.fna&oh=00_AYC9r7TBBmjx8h5oxj9ox34cFuxZRJgvhI-W6cdOhl85ig&oe=6679425D"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Vale Velez</Strong></h3>
                                <h5 class="text-center"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">El servicio de Patitas on Board excedió todas mis expectativas!
                                    Jhon es muy cálido y se preocupa mucho por el bienestar de las mascotas. A pesar de
                                    tener muchos inconvenientes con la aerolínea Jhon con su equipo lograron traernos a
                                    nuestras dos perritas a Vancouver (una Border Collie 4 años y una Golden Retriever
                                    11 años). Gracias a todo el equipo de Patitas on Board! 😊</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-1/351352907_272550275187506_5416313973155561681_n.jpg?stp=dst-jpg_p200x200&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFKZcOjMHh3c33-HHi_BHNmnpOUysPAcl-ek5TKw8ByX3_BUg3rqDHNVCt14H8HOlF-ocOWa2R8PiYQaHvI4Efg&_nc_ohc=XmdqtSATxzUQ7kNvgFHMrG-&_nc_ht=scontent.fbog2-4.fna&oh=00_AYDJrB-UpS299cBhKTjYjnWVD1UTjBFGI4k36Ec6ymx6_w&oe=66794D3C"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Andrea Bernal</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente servicio!! gracias a ellos pude traer a mi perrito a
                                    vivir conmigo.</p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t1.6435-1/119487584_10224632744231246_6021991695568607388_n.jpg?stp=dst-jpg_p200x200&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGCvE3UhrRMGEsA_t8yIhueKJturUx-5lgom26tTH7mWEM9exi0_Hw_JC5o6NYLIt11gFkQs2nVaG4tRwr74-IK&_nc_ohc=lXBYL99-KR8Q7kNvgGeB0cj&_nc_ht=scontent.fbog2-4.fna&oh=00_AYCuDuXMGTDJm4mMMVeSZv6215fSWqUCRk00LeEL8jaLRw&oe=669B0539"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Jason Zuluaga</Strong></h3>
                                <h5 class="text-center"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">recomendados, me ayudaron con todo el proceso del viaje
                                </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t1.6435-1/117316395_2736346226601719_8984105726173632773_n.jpg?stp=dst-jpg_s200x200&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEbry3ollZAvy9BSYOQVnz-sGgj7e5ByNuwaCPt7kHI2-GaBBYqlZPWNGSEiIZr0_TLZ6pu6DMc2h4Cvyp0W1lE&_nc_ohc=anNSq8kOl-4Q7kNvgHLBK8G&_nc_ht=scontent.fbog2-4.fna&oh=00_AYDZVHs3eej-iftH9uFeL-RDLTmirPNU7VzQ8R_BS020qA&oe=669B1222"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Cor-ta Insipit</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Prestan un servicio intachable, desde el primer contacto, John es
                                    muy atento a todo lo que uno requiere, las preguntas y orienta todo el proceso,
                                    además me re gusto que ellos son los que gestionan vuelos, papeles y literal uno
                                    llega con su mascota al aeropuerto a subirse al avión. Los mejores hasta ahora.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-1/441133296_10234743433591232_5590512447881024064_n.jpg?stp=dst-jpg_p200x200&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGBOZWobMquNk-6bgrImzYGADHRo20TfF0AMdGjbRN8XS1JO4leh0inMj29uQPGY4H-AKMSoJP9PXsO9JHFcKQh&_nc_ohc=R_liOdkdG-oQ7kNvgH1p0Xn&_nc_ht=scontent.fbog2-4.fna&oh=00_AYBD8mNoeeOe6s61Usfwtoq8PcCcQXgOSvTpmcva8ncH4w&oe=66796FFF"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Carolina Landazuri</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente servicio, un muy buen trato a las mascotas, lo recomiendo
                                    mucho, muy confiable! </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-1/401840732_24516834454596854_8405126640705083035_n.jpg?stp=dst-jpg_p200x200&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHR_9tS5vsJMAPAs8SZ51BxR-o6pLvpoiVH6jqku-miJVrwvXTYUREiv-JMnQ0SWNhzHAeBjeWWiAWtMHP-OogY&_nc_ohc=8sBFvEjIydgQ7kNvgEqtqro&_nc_ht=scontent.fbog2-4.fna&oh=00_AYDQ1BSb40nUBV25IVLT8mhQWGP7wMBYSi0aaXgGwHyQAA&oe=66793F04"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Diana Méndez</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Me ayudaron a transportar a mis gaticos de Bogotá a Mocoa. Aunque
                                    yo tenía guacal, ofrecen el servicio de alquiler. Súper puntuales
                                </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t1.6435-1/46492857_2830243180334597_5846772111422521344_n.jpg?stp=dst-jpg_p200x200&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFjfBQXeZdLv9fyK8NdJcCCgHP4Nz546BuAc_g3PnjoGzHZ99HuaJZ7cOTMk2AIf8DnRfuG_NVvGn3Nq-PHBEb9&_nc_ohc=hcGGVVJoTXgQ7kNvgH1wVXT&_nc_ht=scontent.fbog2-4.fna&oh=00_AYB7plLO5ycWLDEXct7iw_2Yg3-ts8PvAXKBHnBiz5hHDQ&oe=669AFC88"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Jonatan Parra </Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente servicio!! Gracias por su ayuda
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t1.18169-1/1506611_118547921838931_5524393706360278437_n.jpg?stp=c0.0.200.200a_dst-jpg_p200x200&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGPZEXmPSuVd5UpcbYF8UAjY8I0fGPRNnZjwjR8Y9E2dq8mQO8GyhutsmzhiJ4g8yejxb3sy8LhgfeLqFZ-P8GU&_nc_ohc=d9wRP71I6ZMQ7kNvgEaSEbS&_nc_ht=scontent.fbog2-5.fna&oh=00_AYCLUbhvEwBDNcJ-j88IeZ66WvUKj8TYVI9vi97UyFc1SQ&oe=669AF5EF"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Hecate Lemorte</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente servicio, dedicado y con amor. </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-1/245308438_3126725640889499_4702255483370791377_n.jpg?stp=dst-jpg_s200x200&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG1Oe2x1jdVxkDr3OXTbiC2kYN5wSpNUvmRg3nBKk1S-Xb3qFcuLrO33hCQALA0HI4CLO23UcHwSZeddIsVn-ec&_nc_ohc=owKVQDILJN0Q7kNvgFLn1i3&_nc_ht=scontent.fbog2-5.fna&oh=00_AYBrSQDQ_aGGRPsMd8rI1GO55ztGxoxYPgCr_2xW8Q5WcA&oe=6679481F"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Gerarda Baldacci</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">La mejor agencia, súper atenta al detalle y el trato a los
                                    animalitos es muy gratificante.
                                </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t1.6435-1/95570082_10157246847212776_6474456726757179392_n.jpg?stp=dst-jpg_p200x200&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGrjI5BWT1v-81OeV-SU9oVTbfYc4a92MtNt9hzhr3Yyz4t6rWENihFBWDCLRY2LvGmzsT9e1NV634bbpHgGftP&_nc_ohc=lxX5VcuOCtoQ7kNvgG2rXEV&_nc_ht=scontent.fbog2-4.fna&oh=00_AYDitIMEnhkbEKDefnYvdE7J9B_AJBuLbJWg4JlqShdhxg&oe=669AE8DA"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Daniela Casallas </Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente servicio! Muy recomendado 🐶
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-reviews">
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-3.fna.fbcdn.net/v/t1.6435-1/105560609_2700152736895562_455338612838713655_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeErAneRsQx9g-DgTg7_stqkHtb-lRkX57Ue1v6VGRfntXyDBBjzWAJf3RCbHWJntTZOmzqc8sscRlwVlZPOEZho&_nc_ohc=Y-S8tTYjNWYQ7kNvgFiQPnW&_nc_ht=scontent.fbog2-3.fna&oh=00_AYCcp2-DQyyakKJEP6Nm9LiSFDxQJ0Kf9xSO5bD5nfwA6Q&oe=669ADEB6"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Miguel Buitrago</Strong></h3>
                                <h5 class="text-center"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Mis mascotas les tienen mucho aprecio, la verdad es difícil
                                    encontrar personas que hagan estos trabajos con amor ya que solo los mueve el dinero
                                    pero el equipo de trabajo de esta agencia es excelente, los recomiendo totalmente a
                                    todas las personas que en verdad les preocupa la salud física y mental de sus
                                    mascotas. </p>
                            </div>
                        </div>
                        <div class="card card-review" style="width: 30rem;">
                            <div class="img-container">
                                <img src="https://scontent.fbog2-4.fna.fbcdn.net/v/t39.30808-1/367421096_2541449426015170_3267222314713492477_n.jpg?stp=dst-jpg_s200x200&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGEJa6ieScY52Ko0dPUVf1hrC-5oU59TWSsL7mhTn1NZOE84n1E9Z70Uh7Ylq0ly9F0KSRrRTBdZVSnyJs44j9H&_nc_ohc=UL9TrlFTNY4Q7kNvgFOYKf0&_nc_ht=scontent.fbog2-4.fna&oh=00_AYCjB-hBAFWIrCdbHtlXLNSweDll5zkxPf1Zo284HGRnSg&oe=6679726A"
                                    class="card-img-top img-reviews" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center"><Strong>Diego Brnl</Strong></h3>
                                <h5 class="text-center"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                                <p class="card-text">Excelente servicio, yo soy muy, muy exigente con esta cuestión de
                                    viajar con mi Dante, pero en verdad el profesionalismo y la empatía con la que
                                    tratan a las mascotas me encantó, súper recomendable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon custom-carousel-icon-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon custom-carousel-icon-right" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
</section>