.line-div {
    width: 50%;
    margin: 20px auto;
    border-bottom: 1px solid #C65BCF;
    box-shadow: 0px 0px 20px #C65BCF;
  }
  .btn-whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 30px;
    right: 30px;
    background: #874CCC;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.7s;
  }
  .btn-whatsapp:hover{
    text-decoration: none;
    color: #874CCC;
    background-color: white;
    transition: 0.7s;
  }