.title {
    text-align: center;
    padding: 5%;
    font-weight: bold;
}

.border-purple {
    border: 2px solid #874CCC;
}

button {
    margin-left: 15%;
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(150, 91, 206, 0);
    --enhanced-glow-color: rgb(56, 9, 100);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 25px var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
.card{
    border-radius: 5%;
}
@media (min-width: 900px) {
    button {
        height: 15vh;
    }
}
@media (max-width: 900px) {
    .button-container {
        margin-right: 40%;
    }
}

