
.card-title {
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0px 0px 20px white;
}

.card-text {
    color: rgb(240, 240, 240);
    text-align: justify;
}

.border-purple {
    border: 2px solid #874CCC;
}

.card-serv {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
}

.card-serv .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card-serv .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.card-serv .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-serv .front::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 27, 152, 0.5);
    z-index: 1;
}

.card-serv .front h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
}

.card-serv .back {
    transform: perspective(600px) rotateY(100deg);
    background: #9f4fce;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-serv:hover .front {
    transform: perspective(600px) rotateY(180deg);
    border: 2px solid #874CCC;
}

.card-serv:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.neon {
    border: 2px solid #874CCC;
    animation: neon 1.5s infinite alternate;
}

.button-container {
    width: 110%;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: bold;
    color: #C65BCF;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


button {
    margin-left: 15%;
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(150, 91, 206, 0);
    --enhanced-glow-color: rgb(56, 9, 100);
    --btn-color: rgb(194, 77, 188);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 25px var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}


button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.card {
    border-radius: 5%;
}

@media (min-width: 900px) {
    button {
        height: 15vh;
    }
}

@media (max-width: 900px) {
    .button-container {
        width: 100%;
        margin-right: 40%;
    }
    .btn{
        right: 20%;
    }
}

@keyframes neon {

    0%,
    100% {
        box-shadow:
            0 0 5px #874CCC,
            0 0 10px #874CCC,
            0 0 20px #874CCC,
            0 0 30px #874CCC,
            0 0 40px #874CCC,
            0 0 50px #874CCC,
            0 0 60px #874CCC;
    }

    50% {
        box-shadow:
            0 0 10px #874CCC,
            0 0 20px #874CCC,
            0 0 30px #874CCC,
            0 0 40px #874CCC,
            0 0 50px #874CCC,
            0 0 60px #874CCC,
            0 0 70px #874CCC;
    }
}