<section class="py-5" id="blog">
    <div class="container">
        <h1 class="text-center"> Preguntas comunes 💜</h1>
        <div class="row py-5">
            <div class="col-md-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <strong> ¿Qué es una mascota de
                                    soporte emocional y qué es un perro de servicio?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <p>Las mascotas han abarcado espacios a medida que pasa el tiempo cada vez más
                                    importante y
                                    significativos en las personas y las familias, los vínculos que generamos con ellas
                                    ya
                                    no se reducen únicamente a la compañía, en muchos casos nos ayudan a contener
                                    emociones
                                    en momentos que nos desbordan y por sí solos no logramos regular nuestro sentir ni
                                    nuestro pensar, es aquí donde entran nuestros peluditos como soporte emocional
                                    aportando
                                    a nuestra realidad estabilidad, paz progresivamente la disminución del estrés que
                                    nos
                                    producen dichas situaciones.
                                    Las mascotas de soporte emocional son ideales para personas con trastornos
                                    adaptativos
                                    como depresión, ansiedad y agorafobia ya que la mascota brinda la seguridad, empatía
                                    y
                                    vinculo seguro que necesitan las personas bajo esta situación.
                                    En los casos de estrés postraumático, ataques de miedo y pánico las mascotas de
                                    soporte
                                    emocional cumplen un rol fundamental para sacar a la persona del flashback o
                                    recuerdo
                                    vivido a través de acciones previamente entrenadas en la mascota evitando así
                                    posibles
                                    desbordamientos emocionales o acciones que puedan afectar al paciente o las personas
                                    relacionadas.</p>
                                <h6> <strong> Perros de Servicio </strong> </h6>
                                <p>Las mascotas de servicio deben tener un entrenamiento especial que obedezca a las
                                    necesidades de su amo, dicho entrenamiento debe ser realizado por una escuela de
                                    adiestramiento canina con las respectivas aprobaciones que regulan están entidades y
                                    contar con las certificaciones de los departamentos de servicio y transporte animal
                                    puesto que dichos peluditos deberán suplir las necesidades físicas y psiquiátricas a
                                    su
                                    amo por ello es imperante que los acompañen todo el tiempo, dentro de estas
                                    condiciones
                                    podemos encontrar:</p>
                                <li>Autismo</li>
                                <li>Discapaciones de movilidad</li>
                                <li>Trastornos visuales</li>
                                <li>Trastornos Auditivos</li>
                                <li>Convulsiones</li>
                                <li>Epilepsia</li>
                                <li>Enfermedades organicas con diabetes</li>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed cumtom-accordion-header" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                ¿Cómo puedo viajar con mi mascota en avión?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Comprendemos que aún con todos los avances sociales que hemos presentado en el
                                    reciente
                                    siglo, el viajar con nuestras mascotas continúa representando cierto grado de
                                    dificultad, es por ello que en Patitas On Board facilitamos el acceso a la
                                    información y
                                    servicios que necesitas con el fin de mitigar la probabilidad de contratiempos que
                                    puedan afectar la tranquilidad de tu mascota y la tuya.
                                    Nuestros peludos forman parte de nuestra familia y en muchos casos llegan a ser de
                                    hecho
                                    la única familia que las personas tienen, procurar su bienestar integral es
                                    imperativo y
                                    es de hecho el objetivo principal tanto para su amo como para nosotros y aquí te
                                    dejamos
                                    algunos de los requisitos generales que debes tener en cuenta al momento de
                                    emprender
                                    una travesía con tu mascota:
                                </p>
                                <ol>
                                    <li>
                                        <strong>Planifica con meses de anterioridad:</strong>
                                        No permitas que el tiempo te apremie y evalúa todas las posibilidades que
                                        ocurren en estos viajes para que aun esperando que no ocurran aprietos puedas
                                        gestionar la aparición de alguno sin poner en riesgo la integridad de tu
                                        mascota.
                                    </li>
                                    <li>
                                        <strong>Averigua sobre los requisitos de ingreso de mascotas al lugar de
                                            destino:</strong>
                                        Los países establecen desde sus entidades agropecuarias lineamientos que en
                                        muchos países pueden llegar a ser más dispendiosos que otros, es importante que
                                        averigües con el suficiente tiempo para cumplir con dichos requerimientos ya que
                                        en algunos casos estos procesos deben iniciar con meses de anterioridad.
                                    </li>
                                    <li>
                                        <strong>Visita un veterinario:</strong>
                                        Las normativas de transporte animal exigen unos permisos y certificaciones que
                                        debes realizar con un veterinario quien a través de dicha documentación señalará
                                        el bienestar de la mascota y su visto bueno para que juntos emprendan su vuelo.
                                    </li>
                                    <li>
                                        <strong>Contacta a la aerolínea:</strong>
                                        Una vez selecciones la aerolínea verifica los requisitos que tienen para aceptar
                                        tu mascota en el vuelo, ten presente que no todas las aerolíneas los permiten y
                                        dichos lineamientos cambian entre aerolíneas y servicios.
                                    </li>
                                    <li>
                                        <strong>Reúne toda la documentación:</strong>
                                        Una vez tengas claridad de la documentación que le exigen a tu mascota procura
                                        tenerlas en una carpeta para que siempre que sea necesario la puedas sacar y
                                        presentar a las entidades que lo requieran.
                                    </li>
                                    <li>
                                        <strong>Alista a tu mascota:</strong>
                                        Debes tener presente que tu mascota estará bajo constante estrés así que es
                                        importante que alistes un kit de atención para tu mascota, que no le des
                                        alimentos tres horas antes del vuelo como mínimo, que siempre porte su placa de
                                        identificación y si es posible tenga microchip.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                ¿Puedo viajar con más de un perro en cabina?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Las familias cada día son más numerosas pero esto no suele suceder por la cantidad de
                                    hijos, sino por la cantidad de perros y gatos que en muchos casos toman este rol
                                    (perrhijos y gatijos) o simplemente llegan a ser un integrante muy importante desde
                                    su rol como mascota, esto a la hora de volar representa una preocupación latente
                                    pues, tristemente, no es posible que una persona viaje con más de una mascota en
                                    cabina, ¿Qué podrías hacer? puedes viajar con 3 mascotas en bodega y una mascota en
                                    cabina pero todo esto está condicionado a los parámetros establecidos por cada
                                    aerolínea, los destinos y los aviones que brindan el servicio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                ¿Cómo puedo viajar con mi perro que es braquiocéfalo?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Estas razas suelen tener unas condicionantes más puntuales pero no imposibilita el
                                    hecho de poder volar con ellas, ahora, debemos tener presente que las aerolíneas que
                                    permiten viajar con estos peluditos establecen unas restricciones pues al tener su
                                    hocico más chato que los demás, presentan obstrucciones e inconvenientes en sus vías
                                    respiratorias pues suelen ser más estrechas y reducir la cantidad de oxigeno que
                                    ingresa por ellas, al ser una variable tan presente se vuelve en un potencial
                                    problema de salud y es la razón principal de la existencia de estas restricciones
                                    puntualmente, ahora bien, estas condicionantes cambian respecto a la aerolínea, el
                                    trayecto, la modalidad de viaje e incluso, la fecha de vuelo, dentro de estas razas
                                    podemos encontrar:</p>
                                <li>Boxer</li>
                                <li>Boston terrier</li>
                                <li>American staffordshire terrier</li>
                                <li>Bulldogs</li>
                                <li>Dogo de burdeos</li>
                                <li>Chow chow</li>
                                <li>Pitbull</li>
                                <li>Pug</li>
                                <li>Shar pei</li>
                                <li>Shih tzu</li>
                                <li>Spaniel japonés o chin</li>
                                <li>Presa canario</li>
                                <li>Pequinés</li>
                                <li>Mastín</li>
                                <li>Spaniel tibetano</li>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                ¿Qué es el microchip y para qué sirve?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>El microchip es un pequeño dispositivo electrónico, del tamaño de un grano de arroz,
                                    que se implanta en el interior de la piel de los peluditos. El dispositivo tiene en
                                    su interior un código único de nueve dígitos y cuatro letras que sirve para
                                    identificar a las mascotas está asociado a los datos de contacto de su familia:
                                    dirección, teléfonos y nombres. Es un dispositivo imperceptible para el peludito, no
                                    le causa ningún dolor ni tampoco puede desarrollar posibles alergias ni otros
                                    efectos secundarios. </p>
                                <h6>¿Para qué sirve el microchip?</h6>
                                <p>El microchip sirve como reconocimiento legal que tu mascota es parte de una familia.
                                    El microchip implantado está asociado a los datos de contacto de la persona
                                    responsable de su cuidado y, como el chip no puede remplazarse y los datos tampoco
                                    pueden falsificarse, se evitan situaciones lamentables como el robo de la mascota.
                                    Si tu peludito se pierde y tiene un microchip aumentan las posibilidades de que
                                    pueda regresar a tu hogar. Con ayuda de un veterinario es posible escanear el código
                                    del chip y buscando en la base de datos la información de su residencia y localizar
                                    a su familia. Si los responsables de su cuidado tienen sus datos de contacto
                                    actualizados, el veterinario o la protectora pueden comunicarse por teléfono,
                                    enviarles un correo electrónico o una comunicación por correo postal informando que
                                    han encontrado a tu mascota y reencontrarte con él.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                ¿Qué es un examen serológico?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>El test serológico de anticuerpo contra la rabia es un análisis de sangre en el cual
                                    se verifican los niveles de anticuerpos después de ser aplicada la vacuna, para que
                                    sea aprobado el resultado del test deben arrojar un resultado igual o superior a 0.5
                                    UI/ml y puedes vacunar a tu macota contra la rabia a partir de las 12 semanas de
                                    vida, donde una vez has realizado el test, es obligatorio que pasen 3 meses desde
                                    que se tomó la muestra de sangre para que la mascota pueda volar. Así que la edad
                                    mínima de un animal que proceda de un país con riesgo de rabia será de 7 meses.
                                    Debes tener presente que:</p>
                                <li>Los resultados de las pruebas serológicas de la rabia deben estar en inglés o
                                    acompañados por una traducción certificada.</li>
                                <li>Los resultados de las pruebas serológicas deben obtenerse, como mínimo, 30 días
                                    después de la vacunación inicial de tu mascota.</li>
                                <li>Los resultados de la prueba son válidos por 1 año a partir de la fecha en que se
                                    obtuvo la muestra.</li>
                                <li>Los resultados de las pruebas serológicas solo se exigen para perros con un
                                    certificado de vacunación contra la rabia emitido desde un país con alto riesgo de
                                    rabia. Sin estos resultados, los perros deberán ponerse en una cuarentena con una
                                    reserva hecha antes de llegar al país y después de volver a vacunarse en un
                                    establecimiento para el cuidado de animales.</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="py-2"></div>